@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400&display=swap');
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100&display=swap');
  font-weight: 100;
}

@font-face {
  font-family: Geologica;
  src: url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
}

:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Courier New', Courier, monospace;
  --nav-bar-font: 'Geologica', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  font-family: var(--primary-font) !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a {
  text-decoration: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
  #basic-navbar-nav {
    display: none;
  }
}

/* Nav */

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

nav.navbar {
  padding: 0;
}

.scrolled {
  background-color: #121212;
  /* background: transparent; */
}

/* nav.navbar a.navbar-brand {
  width: 9%;
  margin-right: 30px;
  color: #fff;
} */

.navbar-link {
  font-family: var(--nav-bar-font);
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 2px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link-navbar-link:active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(10%)
}

.navbar-text button {
  font-weight: 700;
  border: 1px solid #fff;
  color: #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover a {
  color: #121212;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  color: #121212 !important;
  left: 0;
  top: 0;
  z-index:-1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover::before {
  content:"";
  width:100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
    box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms;
  top:-2px;
}

nav.navbar .nav-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

nav.navbar img {
  color: white;
}


/* Banner */
.banner {
  padding: 160px 0 100px 0;
  background-image: url('./assets/banner-background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: top center; */
  width:100%;
  /* height: 100vh; */
  color:#fff
}

.tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 100%); */
  background: linear-gradient(90.21deg, rgba(70, 234, 190, 0.5) -5.91%, rgba(49, 119, 177, 0.5) 100%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width:96%;
}

.banner img {
  animation: updown 3s linear infinite;
  width: 350px;
  margin-left: 30%;
}

@media screen and (min-width:991px) {
  .banner-presentation {
    width: 50%;
  }
}

@keyframes updown {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-20px);
    }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 65px;
  font-family: var(--primary-font);
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
      50% {
        color: #666;
      }
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: transparent;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}


/* Skills */

.skill {
  position: relative;
  padding-bottom: 2rem;
}

.habilities-title {
  margin-top: 2rem;
} 

.skill-bx {
  text-align: left;
  padding-top: 60px;
  padding-left: 20px; 
}  

@media screen and (min-width: 868px) {
  .skill-bx {
    background: #151515;
    border-radius: 64px;
    text-align: left;
    padding: 60px 80px 30px 80px;
    margin-top: -60px;
  }  
}

.skill h2 {
  font-size: 30px;
  font-weight: 700;
  color:#fff;
  margin-bottom: 30px;
}

.skill p {
  /* color:  rgb(74, 47, 189); */
  /* color:rgb(170, 54, 124); */
  width: 90%  ;
  color: #a19e9e;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}

.highlight, .highlight a {
  color: rgb(170, 54, 124);
  /* color: rgb(49, 119, 177); */
  /* color: rgb(70, 234, 190); */

  font-weight: 700;
  text-decoration: none;

}

.highlight a:hover {
  color: rgb(204, 96, 161);
  text-decoration: underline;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-img {
  text-align: left;
}

.skill-img img{
  width: 50%;
  margin-left: 20px;
  border-radius: 2%;
  z-index: 3;
}

/* .square {
  border: 2px solid rgb(170, 54, 124);
  width: 50%;
  height: 290px;
  border-radius: 50%;
  position: relative;
  top: -280px;
  left: 28px;
  z-index: 1;
} */

.tech-list {
  display: flex;
  padding: 0;
}

@media screen and (max-width:518px) {
  .tech-list {
    flex-direction: column;
  }
}

.tech-list div {
  padding: 0 40px 0 0;
  margin: 0;
}

.tech-list li {
  font-family: var(--secondary-font);
  color:#a19e9e;
  list-style-type: none;
  line-height: 2;
}

/* Projects */
.project {
  padding: 40px 0;
  position: relative;
  background-color: black;
}
.project h2 {
	font-size: 2rem;
	font-weight: 700;
  text-align: center;
  color:#eceaea;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
/* .project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
} */
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  text-align: center;
}
.proj-imgbx img {
  width: 100%;
}

.proj-imgbx::before {
  content: "";
  /* background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%); */
  background: linear-gradient(90.21deg, rgb(23, 73, 113) -5.91%, rgb(70, 234, 190) 111%);

  opacity: 0.95;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  padding-top: 10px;
}
.proj-txtx p a {
  font-weight: bold;
  font-size: 15px;
  color: rgb(247, 243, 11);
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
  color: #fff;
}
.proj-txtx h4 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  padding-top: 10px;
  margin-bottom: 1rem;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
  display: block;
  padding: 0 20px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/* Contato */
.contact {
  /* background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%); */
  background: linear-gradient(90.21deg, rgb(83, 181, 154) -5.91%, rgb(49, 119, 177) 111.58%);
  padding: 40px 0 80px 0;
  text-align: center;
}

.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}

.contact-email {
  margin-bottom: 20px;
  font-size: 20px;
}

.contact-email a {
  color:#fff;
  text-decoration-line: none;
}

.contact-email a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
  text-decoration-color: white;
  text-underline-offset: 0.8rem;
  color: initial;
}

.contact-tel {
  background-color: rgba(74, 47, 189, 0.5);
  padding: 10px 20px;
  width: 150px;
  border-radius: 10px;
  margin: 10px auto;
}

.contact-tel:hover {
  background-color: #4A2FBD;
  cursor: pointer;
}

.contact-tel a {
  color: #fff;
  font-weight: 300;
}

.contact-icon {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-icon a img {
  width: 35px;
  height: 35px;
}

.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #fff;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 100%);
  border: 1px solid rgba(255, 255, 255, 0.5);  
  background-color: #2b2b2b;
  padding: 14px 48px;
  font-size: 18px;
  width: 30%;
  border-radius: 10px;
}

@media screen and (max-width:518px) {
  .contact form button {
    width: 98%;
    margin: auto;
  }
}

.contact form button:hover {
  background-color: #ffffff;
  color:rgb(170, 54, 124)
}

.success, .danger {
  text-align: left;
}

.danger {
  color: rgb(234, 82, 82);
  font-style: italic;
}